src/chord/__pycache__ # __pycache__/ directory
*.py[cod] #Python object files and the like
src/chord/*.py
src/chord/*.pyc
src/chord/*.pyo
src/chord/*.pyd
data/*.json
data/*.gz


test.log
__pycache__/
