src/dns_resolver/__pycache__ # __pycache__/ directory
*.py[cod] #Python object files and the like
src/dns_resolver/main.py
src/dns_resolver/chord.py
src/dns_resolver/client.py
extract_from_log.py
src/dns_resolver/*.pyc
src/dns_resolver/*.pyo
src/dns_resolver/*.pyd
data/*.json
data/*.gz


*.log
__pycache__/

.DS_Store
.idea/*